.modal-body p {
    word-wrap: break-word;
}

.truncate {
    word-wrap: break-word;
}

.truncate2 {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}