<?php
use Zend\Form\Element;

/**
 * @var \Zend\View\Renderer\PhpRenderer $this
 * @var \Zend\Form\Form $form
 */

$form->prepare();

$submitEl = new Element\Submit('submit');
$submitEl->setValue($this->translate('Submit'))
    ->setName('submit')
    ->setAttribute('id', 'submitbutton');

?>

<?= $this->form()->openTag($form); ?>

    <fieldset>
        <legend><?= $this->translate('Create forum'); ?>:</legend>
        <table>
            <tr>
                <td>
                    <?= $this->translate($this->formLabel($form->get('name'))); ?><br>
                    <?= $this->formInput($form->get('name')); ?><br>
                    <?= $this->formElementErrors($form->get('name')); ?>
                </td>
                <td>
                    <?= $this->translate($form->get('name')->getOption('description')); ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->translate($this->formLabel($form->get('title'))); ?><br>
                    <?= $this->formInput($form->get('title')); ?><br>
                </td>
                <td>
                    <?= $this->translate($form->get('title')->getOption('description')); ?>
                </td>
            </tr>
            <tr>
                <td>
                    <?= $this->translate($this->formLabel($form->get('description'))); ?><br>
                    <?= $this->formInput($form->get('description')); ?><br>
                </td>
                <td>
                    <?= $this->translate($form->get('description')->getOption('description')); ?>
                </td>
            </tr>
        </table>

        <br><br>
        <?= $this->formSubmit($submitEl); ?>
    </fieldset>

<?= $this->form()->closeTag($form); ?>