<?php echo $this->doctype(); ?>

<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="ru" />
    <title>OpenGD</title>

    <link href="http://www.gamedev.ru/_css/main.css?v=6" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="header">
    <a id="sitename" href="/">OpenGD &nbsp;</a>
</div>

<div id="path">
</div>

<div id="container">
    <div id="left">

        <ul class="menu">

        </ul>

        <div></div>
    </div>
    <div id="main">
        <div id="main_body" style="height: 1%;">

            <h1 class="title" itemprop="name">GDRU Clone</h1>
            <!--BODY-->
            <div style="height: 18px; text-align: right; padding: 5px;">
                <span style="padding: 5px;"><a href="?a=add">Создать новую тему</a></span>
            </div>

            <?php echo $this->content; ?>
            <!--END BODY-->

        </div>
        <div id="main_add"></div>
    </div>
    <div id="right"></div>
    <div class="clear"></div>
</div>

<div id="footer"></div>
<div id="bottom">
    <div>2015 &copy; <b>OpenGD</b></div>
    <div id="social"></div>
    <div id="pda"></div>
    <div id="counters"></div>
</div>

</body>
</html>
