<?php

$this->headTitle()->setSeparator(' - ')
    ->setAutoEscape(false);
$basePath = $this->basePath();

//Twitter Bootstrap styles
$this->headLink()->appendStylesheet($basePath . '/bootstrap3/css/bootstrap.min.css');
$this->headLink()->appendStylesheet($basePath . '/bootstrap3/css/bootstrap-theme.min.css');
$this->headLink()->appendStylesheet($basePath . '/treegrid/css/jquery.treegrid.css');
$this->headLink()->appendStylesheet($basePath . '/css/sticky-footer.css');
$this->headLink()->appendStylesheet($basePath . '/pnotify/pnotify.custom.min.css');
$this->headLink()->appendStylesheet($basePath . '/css/main.css');

//jQuery and Twitter Bootstrap JS libraries
$this->inlineScript()->appendFile($basePath . '/js/jquery-1.11.2.min.js');
$this->inlineScript()->appendFile($basePath . '/bootstrap3/js/bootstrap.min.js');
$this->inlineScript()->appendFile($basePath . '/treegrid/js/jquery.treegrid.min.js');
$this->inlineScript()->appendFile($basePath . '/treegrid/js/jquery.treegrid.bootstrap3.js');
$this->inlineScript()->appendFile($basePath . '/pnotify/pnotify.custom.min.js');

echo $this->doctype();
?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php //Set your headTitle here ?>
    <?php echo $this->headTitle('') ?>
    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
    <!-- Le styles -->
    <?php echo $this->headLink() ?>
    <?php echo $this->headStyle(); ?>
    <!-- Scripts -->
    <?php echo $this->headScript() ?>
</head>

<body>
<div class="container">
    <?php echo $this->content; ?>
</div> <!-- /container -->
<?php echo $this->inlineScript(); ?>
<script type="text/javascript">
    $(document).ready(function() {
        $('.tree').treegrid();
    });
</script>

<footer class="footer">
    <div class="container">
        <p class="text-muted">2015.</p>
    </div>
</footer>
</body>
</html>
