.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.alert-heading {
  color: inherit; }

.alert a {
  color: #c09853; }

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px; }

.alert-success,
.alert-success a {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-danger,
.alert-error,
.alert-danger a,
.alert-error a {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

.alert-info,
.alert-info a {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px; }

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0; }

.alert-block p + p {
  margin-top: 5px; }

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  margin: 0; }

.text-red {
  color: #FF0000; }

.text-orange {
  color: #FF9900; }

.text-yellow {
  color: #f8d400; }

.x-grid-cell-inner-action-col {
  font-size: inherit;
  line-height: 0; }

/*# sourceMappingURL=Viewport.css.map */
